@charset "utf-8";
/* CSS Document */
/*导航*/
.siteNavWrap .right li .current{ border-bottom: 3px solid #1899f3; color:#1899f3;}
/*导航*/
/*banner*/
.bannerwrap{ height:380px; margin: 0 auto; background: #000 url(../images/fuwuliucheng.png) no-repeat center center; cursor: pointer;}
/*维修上门服务*/
.shangmenwrap{ width: 960px; height: 84px; background: pink;margin: 0 auto; }
.shangmenwrap .bd{  display:inline-block; width: 5px; height: 20px; background: #1899f3; position: absolute;left: 0; top: 50%;/* transform: translate(0% -50%);*/}
.shangmenwrap .left{width: 200px; height: 84px; position: relative;display:inline-block; text-align: center; color: #333333; font-size: 18px; line-height: 84px; float: left;}
.shangmenwrap .right{ width: 500px; height: 84px; background: #1899F3; float: right;}
.shangmenwrap .right p{ float: right; line-height: 84px; font-size: 16px; color: #666;}
/*维修上门服务*/